* {
font-family: Helvetica;
}
h1{
  background-image: url("/Users/markvaughn/Documents/PROJECTS/CRAFTS/Resources/images/pattern.jpg");
  background-size: auto;
  color: khaki;
  text-align:center;
  font-weight: bold;
  font-size: 100px;
  font-family: Helvetica;
}
strong {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
 #brushes
  h2 {
   background-color: mediumspringgreen;
}
#frames
  h2 {
    background-color: lightcoral;
  }
#paint
  h2{
    background-color: skyblue;
  }
